<h2 style="text-align: center;" markdown="1"> Train and Test Dateset Creation for Expedia Model Building </h2>

In [ ]:
# import all required libraries
import pandas as pd

### Configure following variables as required

In [2]:
# Training set filepath
org_train_path = "/home/smita/MP/train.csv"

### Read original Train Dataset

In [3]:
train  = pd.read_csv(org_train_path, parse_dates= ['date_time', 'srch_ci', 'srch_co'])
train.columns.values

array(['date_time', 'site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt',
       'srch_children_cnt', 'srch_rm_cnt', 'srch_destination_id',
       'srch_destination_type_id', 'is_booking', 'cnt', 'hotel_continent',
       'hotel_country', 'hotel_market', 'hotel_cluster'], dtype=object)

#### Total number of records in original training Set :

In [4]:
train.shape[0]

37670293

#### Total columns/variables in original training set:

In [5]:
train.shape[1]

24

###  Data Preparation for model

#### Setting1

* Train Set:
For the preparation of the train set  we will use entire 2013 data and 2014 data for the month <= 6
* Test Set:
For the test set we will use data from original train set year = 2014 and month > 6

#### Setting2

Due to large size of data we will spilt the data yearly and create train and test 

* Approach 1: 
    train set 1 : year = 2013 and month < 6
    test set 1: year = 2013 and month >= 6    

* Approach 2: 
    no.of rows of 2014 data > no of rows in 2013 data. Therefore, we will take first 8 month data for the train set and 
    rest of the data as test set 
    train set 2: year = 2014 and month <= 8
    test set 2: year = 2014 and month > = 8

* Approach 3: 
    train set: randomly select few rows from approach 1 and approach 2 train set 
    test set : randomly select few rows from test sets of approach 1 and 2    

From all the test sets : We will remove the click event

Above setting is used to match the competition training and test approach

### Feature Engineering

In [6]:
# function to create the month, year, day, time from date_time
# Add month, year, day and time from date_time
def getMYDT(df):
    df["month"] = df.date_time.dt.month
    df["year"] = df.date_time.dt.year
    df["day"] = df.date_time.dt.day
    df["time"] = df.date_time.dt.time
    return df

In [7]:
# function: to drop the columns from pandas dataframe
def dropColumns(df, drop_columns):
        for col in drop_columns:
               df.drop(col, axis=1, inplace=True)
        return df

In [8]:
# Add month, year , day , time column in train 
train = getMYDT(train)

In [9]:
# addition of 4 columns : 24 + 4 
train.shape[1]

28

In [10]:
drop_list = ['date_time']
train = dropColumns(train, drop_list)
train.shape[1]

27

In [11]:
# train.to_csv('/home/smita/expedia/train_27.csv')

In [ ]:
### Setting 1
    * Train Set: year = 2013 || (year = 2104  & month <= 6)
    * Test Set : year = 2014 && month > 6
    dataset : train_S1, test_S1

In [12]:
train_S1 = train[( (train.year == 2013) | ((train.year == 2014) & (train.month <= 6)))]

In [13]:
test_S1 = train[((train.year == 2014) & (train.month > 6))]

In [ ]:
#### Size of train Set in setting 1 : 21098,864 i.e. around 21000K

In [15]:
train_S1.shape[0]

21098864

In [16]:
#### Size of test Set with clicks: 1657,1429
test_S1.shape[0]

16571429

In [17]:
#### Select only is_booking ==1
test_S1 = test_S1[(test_S1.is_booking == 1)]

In [ ]:
#### Size of Test set in setting 1 : 1176,489 i.e around 1176K

In [18]:
test_S1.shape[0]

1176489

In [19]:
### Write test and train : for future use
#train_S1.to_csv('/home/smita/expedia/train_S1.csv')
#test_S1.to_csv('/home/smita/expedia/test_S1.csv')

In [20]:
train_S1.head(1)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,month,year,day,time
12,2,3,66,318,22418,420.6642,756,0,1,9,...,0,5,2,50,191,18,1,2014,17,06:24:56

In [21]:
test_S1.head(1)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,month,year,day,time
1,2,3,66,348,48862,2234.2641,12,0,1,9,...,1,1,2,50,628,1,8,2014,11,08:22:12

### Setting 2:Approach 1

*   train: (year = 2013 and month < 6) 
*   test: ( year = 2013 and month >= 6)

In [23]:
train_S2_A1 = train[((train.year == 2013) & (train.month < 6))]
test_S2_A1 =  train[((train.year == 2013) & (train.month >= 6))]

#### Size of train Set in setting 2 approch 1: 4494,597 i.e. around 4494K

In [24]:
train_S2_A1.shape[0]

4494597

In [25]:
test_S2_A1.shape[0]

6692284

In [26]:
test_S2_A1 = test_S2_A1[(test_S2_A1.is_booking ==1)]

#### Size of test Set in Setting 2 , approach 1 : 612,239 i.e.around 612K

In [27]:
test_S2_A1.shape[0]

612239

In [29]:
train_S2_A1.head(1)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,month,year,day,time
74,2,3,66,462,41898,2716.6746,1482,0,0,1,...,0,1,2,50,214,28,2,2013,15,13:18:43

In [30]:
test_S2_A1.head(1)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,month,year,day,time
27,30,4,195,548,56440,NaN,1048,0,1,9,...,1,1,0,185,185,58,6,2013,15,15:38:05

In [28]:
### Write files
#train_S2_A1.to_csv('/home/smita/expedia/train_S2_A1.csv')
#test_S2_A1.to_csv('/home/smita/expedia/test_S2_A1.csv')

### Setting 2:Approach 2
*  train: (year = 2014 and month <= 8) 
*  test: ( year = 2014 and month >  8)

In [32]:
train_S2_A2 = train[((train.year == 2014) & (train.month <= 8))]
test_S2_A2 =  train[((train.year == 2014) & (train.month > 8))]

#### Size of train set in setting 2, approach 2 : 15458,426 i.e. around 15458K

In [33]:
train_S2_A2.shape[0]

15458426

In [34]:
test_S2_A2.shape[0]

11024986

#### Size of test in setting 2 approch 2: 785,884 i.e. 785K

In [35]:
test_S2_A2 = test_S2_A2[(test_S2_A2.is_booking ==1)]

In [36]:
test_S2_A2.shape[0]

785884

In [37]:
### Write files
#train_S2_A2.to_csv('/home/smita/expedia/train_S2_A2.csv')
#test_S2_A2.to_csv('/home/smita/expedia/test_S2_A2.csv')

In [38]:
train_S2_A2.head(1)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,month,year,day,time
0,2,3,66,348,48862,2234.2641,12,0,1,9,...,0,3,2,50,628,1,8,2014,11,07:46:59

In [39]:
test_S2_A2.head(1)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,month,year,day,time
72,30,4,195,991,47725,NaN,1048,0,0,9,...,1,1,3,151,69,36,11,2014,23,18:02:20

In [ ]:
### Setting 2:Approach 3 => For prototyping
Train:
* Take first 50000 rows from approch 1 train : 2013
* Take first 51000 rows from approach 2 train : 2014
* Concatenate to create train set

Test:
* Take first 15000 rows from approch 1 test : 2013
* Take first 16000 rows from approach 2 test : 2014
* Concatenate to create test set

In [ ]:
train_S1_A1 = pd.read_csv('/home/smita/expedia/train_S2_A1.csv', nrows = 50000)
test_S1_A1 = pd.read_csv('/home/smita/expedia/test_S2_A1.csv', nrows = 15000)

In [42]:
train_S2_A2 = train_S2_A2.iloc[0:51000]
test_S2_A2 = test_S2_A2.iloc[0:16000]

In [46]:
frames = [train_S1_A1, train_S2_A2 ]

In [47]:
train_S2_A3 = pd.concat(frames)

#### Prototype train Set :101, 000 i.e. 101K

In [48]:
train_S2_A3.shape[0]

101000

In [49]:
testFrames = [test_S1_A1, test_S2_A2]

In [50]:
test_S2_A3 = pd.concat(testFrames)

#### Prototype Test Set: 31000 i.e. 31K

In [51]:
test_S2_A3.shape[0]

31000

In [52]:
#train_S2_A3.to_csv('/home/smita/expedia/train_S2_A3.csv')
#test_S2_A3.to_csv('/home/smita/expedia/test_S2_A3.csv')

In [53]:
train_S2_A3.head(1)

,Unnamed: 0,channel,cnt,day,hotel_cluster,hotel_continent,hotel_country,hotel_market,is_booking,is_mobile,...,srch_co,srch_destination_id,srch_destination_type_id,srch_rm_cnt,time,user_id,user_location_city,user_location_country,user_location_region,year
0,74.0,1,1,15,28,2,50,214,0,0,...,2013-03-01,8857,1,1,13:18:43,1482,41898,66,462,2013

In [54]:
test_S2_A3.head(1)

,Unnamed: 0,channel,cnt,day,hotel_cluster,hotel_continent,hotel_country,hotel_market,is_booking,is_mobile,...,srch_co,srch_destination_id,srch_destination_type_id,srch_rm_cnt,time,user_id,user_location_city,user_location_country,user_location_region,year
0,27.0,9,1,15,58,0,185,185,1,0,...,2013-09-14,1385,1,1,15:38:05,1048,56440,195,548,2013

In [55]:
train.columns.values

array(['site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt',
       'srch_children_cnt', 'srch_rm_cnt', 'srch_destination_id',
       'srch_destination_type_id', 'is_booking', 'cnt', 'hotel_continent',
       'hotel_country', 'hotel_market', 'hotel_cluster', 'month', 'year',
       'day', 'time'], dtype=object)

In [56]:
# Note: unnamed index is created after concatenation
train_S2_A3.columns.values

array(['Unnamed: 0', 'channel', 'cnt', 'day', 'hotel_cluster',
       'hotel_continent', 'hotel_country', 'hotel_market', 'is_booking',
       'is_mobile', 'is_package', 'month', 'orig_destination_distance',
       'posa_continent', 'site_name', 'srch_adults_cnt',
       'srch_children_cnt', 'srch_ci', 'srch_co', 'srch_destination_id',
       'srch_destination_type_id', 'srch_rm_cnt', 'time', 'user_id',
       'user_location_city', 'user_location_country',
       'user_location_region', 'year'], dtype=object)

### Setting 3
*  Separate data by the year 2013 and 2014
*  Randomly selecting train and test data 
*  first 40-70% for trainging the model and rest as test set

In [ ]:
train_2013 = train[(train.year == 2013)]

In [ ]:
train_2013.shape

In [ ]:
train.iloc[1:3, 1:8]

In [ ]:
train.iloc[1:3, 1:8]

In [ ]:
train.iloc[1:3, 1:8]